* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #000000;
    --color-secondary: #f0f0f0;

    /*Full Color*/
    --full-yellow: #F2CB07;
    --full-orange: #F28705;
    --full-red: #D90404;
    --full-wine:#8C0303;
    --full-maroon: #400101;
    --shadowly-maroon: #4001019b;
    --goldish-brown: #60450c;
    /*Dark Colors*/
    --dark-blue: #150140;
    --dark-red: #8C0303;
    --dark-wine: #590202;
    --dark-maroon: #260101;
    --shadowly-darkMaroon: #260101a7;
    --dark-black: #0D0000;
    --goldish-dark-brown: #322302;

}

@font-face {
    font-family: Monserrat;
    src: url("../fonts/Anton-Regular.ttf");
  }
